{{define "footer"}}
<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-2">
                <div class="center-block">
                    <a href="/"
                       class="flogo"
                       title="ManualsLib">
                        <img alt="ManualsLib" src="//static.manualslib.com/public/img/flogo.png" width="67"
                             height="63"/>
                    </a>
                    <div class="copy">2012-2022 ManualsLib</div>
                </div>
            </div>
            <div class="col-sm-10 col-xs-offset-1 col-sm-offset-0 footer-content">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div>
                            <a rel="nofollow"
                               data-google-vignette="false"
                               href="/about.html"
                               class="flinkh">
                                About Us </a>
                        </div>
                        <ul class="flinklist">
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/faq.html">
                                    F.A.Q. </a>
                            </li>
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/user_say.html">
                                    What Our Users Say </a>
                            </li>
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/press.html">
                                    Press & Media </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div>
                            <a rel="nofollow"
                               data-google-vignette="false"
                               href="/contacts.html"
                               class="flinkh">
                                Contacts </a>
                        </div>
                        <ul class="flinklist">
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/advert.html">
                                    Advertise with Us </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix visible-xs-block" style="margin-bottom: 15px;"></div>
                    <div class="col-sm-3 col-xs-6">
                        <div>
                            <a rel="nofollow"
                               data-google-vignette="false"
                               href="/takedown.html"
                               class="flinkh">
                                DMCA Policy </a>
                        </div>
                        <ul class="flinklist">
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/privacy.html">
                                    Privacy Policy </a>
                            </li>
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/cookie_policy.html">
                                    Cookie Policy </a>
                            </li>
                            <li>
                                <a rel="nofollow"
                                   data-google-vignette="false"
                                   href="/terms.html">
                                    Terms of Use </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div>
                            <a href="/brand/"
                               class="flinkh">
                                Brands </a>
                            <ul class="flinklist">
                                <li><a href="https://www.manualslib.de" target="_blank">manualslib.de</a></li>
                                <li><a href="https://www.manualslib.es" target="_blank">manualslib.es</a></li>
                                <li><a href="https://www.manualslib.fr" target="_blank">manualslib.fr</a></li>
                                <li><a href="https://tr-ex.me/" target="_blank">Our partner tr-ex.me</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{end}}